.header {
  text-align: center;
  margin-bottom: 65px;
}

.name {
  font-size:clamp(2rem, 5vw, 2.75rem);
  font-weight: 700;
  letter-spacing: -0.5px;
  margin: 0;
}

.title {
  margin-top: 8px;
  font-size: clamp(0.95rem, 3vw, 1.05rem);
  font-weight: 700;
  color: #343539;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s ease;
}
